.spinner {
    position: fixed;
    margin: auto;
    width: 100% !important;
    height: 100% !important;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  ::ng-deep .mat-progress-spinner svg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
  }
  