<svg class="simple-pools" viewBox="0 0 500 160">
    <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
    <text class="simple-pools">
        <textPath xlink:href="#curve">
        Simple Pools
        </textPath>
    </text>
</svg>

<div class="slogan">
    DeFi pools with simple code and zero tax.
    <a href="https://github.com/religion-counter/onlyone/blob/main/simplepools-smartcontracts/SimplePools.sol">
        <img style="background-color: white;" width="20px" src="./assets/github.svg">
    </a>
</div>
<div class="show-pools">
    <button (click)="showPools()">Show Pools</button>
</div>