<h2>Choose from forty</h2>
<div>
    This is a simple gambling game. A random algorithm described 
    <a href="https://hg.openjdk.java.net/jdk8/jdk8/jdk/file/tip/src/share/classes/java/security/SecureRandom.java">here</a>,
    <a href="https://hg.openjdk.java.net/jdk8/jdk8/jdk/file/tip/src/solaris/classes/sun/security/provider/NativePRNG.java">here</a>
    and 
    <a href="https://github.com/torvalds/linux/blob/master/drivers/char/random.c">here</a>
    chooses a number between 0 and 40 inclusive and you can bet with one of the following options:
</div>
<div>
    Bet on a number between 1 and 20 inclusive with a multiplier of 2. (If you bet 0.01 BNB on [1, 20] and the algorithm chooses 15 
    then you win 0.01 BNB. Otherwise if the algorithm chooses 25 then you loose your initial bet.)
</div>
<div>
    Bet on a number between 21 and 40 inclusive with a multiplier of 2.
</div>
<div>
    Bet on all odd numbers (1, 3, 5, ..., 39) with a multiplier of 2.
</div>
<div>
    Bet on all even numbers (2, 4, 6, ..., 40) with a multiplier of 2.
</div>
<div>
    Bet on a single number between 0 and 40 with a multiplier of 40. (If you bet 0.01 BNB on 0 and the algorithm chooses 0
    then you win 0.40 BNB.)
</div>
<div>Casino account BNB balance: {{balance}} BNB</div>
<div>Casino account ONLYONE balance: {{onlyoneBalance}} ONLYONE</div>
<div>
    <button (click)="oneToTwenty()" 
        [ngStyle]="getStyle(ONE_TO_TWENTY)">1-20</button>
    <button (click)="twentyOneToForty()"
        [ngStyle]="getStyle(TWENTY_ONE_TO_FORTY)">21-40</button>
    <button (click)="odds()"
        [ngStyle]="getStyle(ODDS)">Odds (1, 3, 5, ..., 39)</button>
    <button (click)="evens()"
        [ngStyle]="getStyle(EVENS)">Evens (2, 4, 6, ..., 40)</button>
</div>
<div>
    <button  *ngFor="let item of [].constructor(41); let i = index" 
        (click)="singleNumber(i)"
        [ngStyle]="getStyle(NUMBER_PREFIX + i)">{{i}}</button>
</div>
<div>
    <mat-form-field >
      <mat-label>Place your bet (up to {{maxBetAmount}} BNB). Minimum bet is {{MIN_BET_AMOUNT}} BNB.</mat-label>
      <input matInput 
          type="number" 
          min="0"
          [max]="maxBetAmount"
          step="0.00001"
          [(ngModel)]="betAmount">
    </mat-form-field>
    <button (click)="startGame()">Start Game</button>
</div>
<div *ngIf="lastChosen">
    <h3>The algorithm chose: {{lastChosen}}. You won {{lastWin}} BNB.</h3>
</div>
<div *ngIf="errorMessage" style="color: red">
    Error playing forty game: {{errorMessage}}
</div>
<div>
    NOTE: This is still an alpha version of the Onlyone Casino. Soon we will add an option to
    deposit, withdraw and bet with Onlyone token and we will increase the maximum bet amount.
</div>